[package]
name = "dcaf"
description = "An implementation of the ACE-OAuth framework"
version = "0.3.0"
edition = "2021"
authors = ["Falko Galperin <falko1@uni-bremen.de>"]
rust-version = "1.58"
license = "MIT OR Apache-2.0"
keywords = ["no_std", "framework", "oauth", "ace"]
categories = ["authentication", "data-structures", "embedded", "encoding", "no-std"]
repository = "https://github.com/namib-project/dcaf-rs"
exclude = [
    ".gitlab/*", ".gitlab-ci.yml"
]

[features]
default = ["std"]
std = ["serde/std", "ciborium/std", "serde_bytes/std", "erased-serde/std", "derive_builder/std"]

[dependencies]
serde = { version = "1.0", default-features = false, features = ["derive"] }
ciborium = { version = "^0.2.0", default-features = false }
ciborium-io = { version = "^0.2.0", default-features = false }
coset = { version = "^0.3.2", default-features = false }
serde_bytes = { version = "^0.11.7", default-features = false, features = ["alloc"] }
erased-serde = { version = "^0.3.22", default-features = false, features = ["alloc"] }
derive_builder = { version = "^0.11.2", default-features = false }
strum = { version = "^0.24", default-features = false, features = ["derive"] }
strum_macros = { version = "^0.24", default-features = false }
enumflags2 = { version = "^0.7.5", default-features = false }

[dev-dependencies]
hex = { version = "^0.4.3" }
base64 = { version = "^0.13.0" }
